body {
  font-family: "Open Sans", sans-serif;
  color: #111; }

a {
  color: #111; }
  a:focus, a:hover {
    color: #000;
    text-decoration: none; }

.btn-cust {
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 500;
  border-width: 2px;
  border-radius: 6px;
  padding: 14px;
  width: 220px;
  font-family: "Montserrat", sans-serif; }

.tooltip .arrow {
  left: 10px !important; }
  .tooltip .arrow:before {
    border-bottom-color: rgba(31, 37, 55, 0.7); }

.tooltip .tooltip-inner {
  text-align: left;
  border-radius: 0px;
  padding: .75rem 1rem 1rem;
  background-color: rgba(31, 37, 55, 0.7); }

.header .navbar {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5px; }
  .header .navbar .navbar-collapse {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
       -moz-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0; }
  .header .navbar .fa-phone {
    margin-right: 6px;
    font-size: 20px;
    vertical-align: middle; }

.primary-menu {
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2); }
  .primary-menu.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem; }
  .primary-menu.navbar-light .navbar-nav .nav-link {
    color: #111;
    -webkit-transition: ease .3s;
    transition: ease .3s; }
    .primary-menu.navbar-light .navbar-nav .nav-link:focus, .primary-menu.navbar-light .navbar-nav .nav-link:hover {
      color: #50b6c6; }
  .primary-menu.navbar-light .navbar-nav .active > .nav-link,
  .primary-menu.navbar-light .navbar-nav .nav-link.active,
  .primary-menu.navbar-light .navbar-nav .nav-link.show,
  .primary-menu.navbar-light .navbar-nav .show > .nav-link {
    color: #50b6c6; }

.secondary-menu {
  background-color: #50b6c6;
  font-size: 12px;
  padding: .2rem 1rem; }
  .secondary-menu .container {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .secondary-menu.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .8rem;
    padding-left: .8rem; }
  .secondary-menu.navbar-dark .navbar-nav .nav-link {
    color: #fff; }
    .secondary-menu.navbar-dark .navbar-nav .nav-link:focus, .secondary-menu.navbar-dark .navbar-nav .nav-link:hover {
      color: #f3f3f3; }

.mobile-menu {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2); }
  .mobile-menu .mobile-header {
    padding: .5rem 1rem;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .mobile-menu .menu-mobile {
    margin-right: 20px; }
  .mobile-menu .menu-mobile,
  .mobile-menu .close-mobile {
    font-size: 12px; }
  .mobile-menu .icons-right .fa {
    font-size: 20px; }
  .mobile-menu .call-mobile {
    margin-left: 20px; }
  .mobile-menu .navbar-brand {
    margin-right: 0; }
    .mobile-menu .navbar-brand .logo {
      width: 120px; }
  .mobile-menu .mobile-menu-wrap {
    width: 100%;
    display: none; }
    .mobile-menu .mobile-menu-wrap .mobile-header {
      text-align: center;
      min-height: 40px;
      padding: 19px;
      max-width: 720px;
      margin: 0 auto; }
      .mobile-menu .mobile-menu-wrap .mobile-header span {
        position: absolute;
        left: 0;
        right: 0;
        font-size: 16px;
        font-weight: 500;
        color: #666;
        z-index: -1; }
    .mobile-menu .mobile-menu-wrap .navbar-nav .nav-item {
      border-top: 1px solid #ddd;
      text-align: center;
      font-weight: 600; }
      .mobile-menu .mobile-menu-wrap .navbar-nav .nav-item .nav-link {
        color: #333; }
      .mobile-menu .mobile-menu-wrap .navbar-nav .nav-item.contact-cta .nav-link {
        padding: 1rem;
        color: #fff;
        background-color: #50b6c6; }
  .mobile-menu .nav-separator {
    height: 20px;
    background-color: #ddd;
    width: 100%;
    display: block; }

.padded-section {
  padding-top: 100px;
  padding-bottom: 100px; }
  .padded-section .section-title {
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    line-height: 1;
    letter-spacing: .5px; }

.banner-section .carousel-item {
  height: -webkit-calc(100vh - 100px);
  height: calc(100vh - 100px); }

.banner-section .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 10px; }

.banner-section .caption-container {
  position: absolute;
  top: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  height: -webkit-calc(100vh - 100px);
  height: calc(100vh - 100px); }

.banner-section .caption-wrap {
  display: table;
  height: 100%;
  width: 100%; }

.banner-section .caption-content {
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); }
  .banner-section .caption-content.left-align {
    text-align: left; }
  .banner-section .caption-content.right-align {
    text-align: right; }

.banner-section .carousel-mobile .caption-content {
  vertical-align: bottom;
  padding-bottom: 60px; }

.smart-search-section {
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat; }
  .smart-search-section .section-title span {
    color: #1f2537;
    opacity: .5;
    font-size: 36px; }
  .smart-search-section .section-title .fa-search {
    float: right;
    font-size: 84px;
    margin-top: -20px; }
  .smart-search-section .section-content {
    padding-top: 40px;
    text-align: center; }
    .smart-search-section .section-content p {
      margin-bottom: 30px; }
    .smart-search-section .section-content .input-group {
      border: 2px solid #ddd;
      border-radius: 7px; }
      .smart-search-section .section-content .input-group .input-group-append {
        border-left: 3px solid #ddd; }
        .smart-search-section .section-content .input-group .input-group-append .btn {
          font-weight: 700; }
        .smart-search-section .section-content .input-group .input-group-append .fa-search {
          float: left;
          font-size: 18px;
          margin-top: 2px;
          margin-left: 10px; }

.featured-section {
  background-color: #f3f3f3; }
  .featured-section .section-title {
    color: #1f2537;
    text-align: center;
    margin-bottom: 60px; }
  .featured-section .featured-properties img {
    width: 100%; }
  .featured-section .featured-properties .property-details {
    background-color: #fff;
    padding: 20px; }
  .featured-section .featured-properties .prop-name {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 0; }
  .featured-section .featured-properties .prop-location,
  .featured-section .featured-properties .prop-price {
    color: #50b6c6;
    font-weight: 600; }
  .featured-section .featured-properties .prop-location {
    text-transform: uppercase; }
  .featured-section .featured-properties .prop-price {
    float: right; }
  .featured-section .featured-properties .prop-more {
    font-weight: 700;
    text-decoration: underline; }

.vip-section {
  padding: 120px 0;
  background-color: #50b6c6;
  color: #fff; }
  .vip-section .section-title-wrap,
  .vip-section .section-content p {
    margin-bottom: 40px; }
  .vip-section .vip-thumb-wrap {
    text-align: right; }
  .vip-section .subtitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5; }
  .vip-section .text {
    font-size: 18px;
    line-height: 1.5; }

.case-section {
  background-color: #284d68;
  color: #fff; }
  .case-section .section-title {
    text-align: center;
    margin-bottom: 40px; }
  .case-section .case-title {
    font-weight: 700;
    margin-top: 20px; }
  .case-section .case-description {
    font-weight: 300; }
  .case-section .case-studies {
    position: relative; }
  .case-section .pagination-indicator ul {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none; }
    .case-section .pagination-indicator ul .indicator {
      height: 10px;
      width: 10px;
      border-radius: 10px;
      background-color: rgba(255, 255, 255, 0.5);
      margin-right: 3px;
      margin-left: 3px; }
      .case-section .pagination-indicator ul .indicator.active {
        background-color: #fff; }

.jenman-section {
  color: #333333;
  padding-top: 120px; }
  .jenman-section .section-title,
  .jenman-section .section-content p {
    margin-bottom: 40px; }
  .jenman-section .btn-primary {
    background-color: #50b6c6;
    border-color: #50b6c6; }
    .jenman-section .btn-primary:hover {
      background-color: #389cab;
      border-color: #389cab;
      color: #fff; }
  .jenman-section .jenman-thumb-wrap {
    text-align: right; }

.reviews-section {
  background-color: #f3f3f3; }
  .reviews-section .section-title {
    text-align: center;
    margin-bottom: 40px; }
  .reviews-section .section-content {
    margin-bottom: 40px;
    text-align: center; }
  .reviews-section .review-content {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 30px;
    color: #666;
    overflow: auto; }
    .reviews-section .review-content .review-rating {
      font-family: 'FontAwesome';
      font-size: 24px;
      color: #e7711b; }
    .reviews-section .review-content .review-text {
      margin-bottom: 0; }
      .reviews-section .review-content .review-text .google-logo {
        float: right; }
    .reviews-section .review-content .review-links {
      display: block;
      margin-top: 30px; }
    .reviews-section .review-content .more-review {
      font-weight: 700;
      text-decoration: underline;
      display: inline-block; }
  .reviews-section .review-profile {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif; }
    .reviews-section .review-profile .profile-thumb {
      display: inline-block;
      background-color: #284d68;
      height: 60px;
      width: 60px;
      border-radius: 65px;
      color: #fff;
      font-size: 36px;
      text-align: center;
      vertical-align: top; }
    .reviews-section .review-profile .profile-name {
      display: inline-block;
      color: #3f82f1;
      font-size: 20px;
      margin-bottom: 0;
      margin-left: 20px;
      font-weight: 500; }
    .reviews-section .review-profile .review-date {
      display: block;
      font-size: 14px;
      color: #aaa;
      font-weight: 400; }
  .reviews-section .pagination-links {
    text-align: center;
    color: #1f2537;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    margin-top: 50px; }
    .reviews-section .pagination-links a, .reviews-section .pagination-links span {
      margin: 0 10px; }
    .reviews-section .pagination-links a:hover {
      color: #389cab; }
    .reviews-section .pagination-links .num-link {
      color: #50b6c6;
      font-weight: 600; }
    .reviews-section .pagination-links .prev-link,
    .reviews-section .pagination-links .next-link {
      font-weight: 600; }

footer {
  background-color: #333;
  color: #fff;
  line-height: 2; }
  footer .footer-header {
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin-bottom: 20px; }
  footer .quick-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: 300;
    display: inline-block;
    vertical-align: top;
    margin-right: 100px; }
  footer .locations {
    text-align: center;
    font-weight: 300; }
    footer .locations .office-title {
      display: block;
      font-weight: 600; }
  footer .social-media {
    text-align: right;
    margin-top: 60px; }
    footer .social-media .social-icons i {
      margin: 0 15px; }
    footer .social-media .copyright {
      margin-top: 30px;
      font-size: 12px; }

@media (max-width: 991.99px) {
  .primary-menu {
    display: none; }
  .secondary-menu {
    display: none; }
  .mobile-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
  .padded-section {
    padding-top: 60px;
    padding-bottom: 60px; }
    .padded-section .section-title {
      font-size: 26px; }
  .banner-section .carousel-desktop {
    display: none; }
  .banner-section .carousel-mobile {
    display: block; }
  .banner-section .carousel-item,
  .banner-section .caption-container {
    height: -webkit-calc(100vh - 56px);
    height: calc(100vh - 56px); }
  .featured-section .section-title {
    margin-bottom: 40px; }
  .smart-search-section .section-title {
    font-size: 40px;
    font-weight: 700; }
    .smart-search-section .section-title span {
      font-size: 24px; }
  .smart-search-section .section-content .input-group .input-group-append .btn {
    width: auto; }
  .smart-search-section .section-content .input-group .input-group-append .fa-search {
    float: none;
    margin: 0 5px; }
  .smart-search-section .section-content .search-text {
    display: none; }
  .vip-section .container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  .vip-section .section-title-wrap {
    text-align: center;
    margin-bottom: 20px; }
  .vip-section .section-title {
    font-size: 42px;
    font-weight: 600; }
  .vip-section .vip-thumb-wrap {
    text-align: center;
    margin-bottom: 25px; }
    .vip-section .vip-thumb-wrap img {
      width: 160px; }
  .vip-section .section-content {
    text-align: center; }
    .vip-section .section-content p {
      margin-bottom: 10px;
      text-align: left; }
    .vip-section .section-content .subtitle {
      font-size: 20px;
      font-weight: 600;
      line-height: 30px; }
    .vip-section .section-content .text {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 30px; }
  .case-section .case-item {
    margin-bottom: 50px; }
    .case-section .case-item:not(:first-child) {
      display: none; }
  .case-section .pagination-indicator {
    display: block; }
  .jenman-section .container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  .jenman-section .jenman-thumb-wrap {
    text-align: left;
    margin-bottom: 40px; }
    .jenman-section .jenman-thumb-wrap img {
      width: 160px; }
  .jenman-section .section-title {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 30px; }
  .jenman-section .section-content p {
    margin-bottom: 30px; }
  .reviews-section .review-item:not(:first-child) {
    display: none; }
  footer .quick-links,
  footer .social-media {
    text-align: center; }
  footer .quick-links ul {
    margin: 0 auto;
    padding: 0 30px; }
  footer .social-media {
    margin-top: 0; }
  footer .footer-column {
    margin-bottom: 40px; }
    footer .footer-column:last-child {
      margin-bottom: 0; } }

@media (max-width: 767.99px) {
  .featured-section .property-item {
    margin-bottom: 20px; }
    .featured-section .property-item:last-child {
      margin-bottom: 0; } }

@media (max-width: 575.99px) {
  .smart-search-section .section-title .fa-search {
    margin-top: -50px; } }

@media (min-width: 992px) {
  .mobile-menu {
    display: none; }
  .banner-section .carousel-mobile {
    display: none; }
  .case-section .pagination-indicator {
    display: none; } }

/*--- Main content CSS ---*/
.main-content p {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 2rem; }

.main-content .heading-h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase; }

.main-content .heading-h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.8rem; }

.main-content .sign {
  font-weight: 600;
  text-decoration: underline; }

.blog-border {
  border-bottom: 1px solid #50b6c6; }

hr {
  background: lightblue; }

hr.blog-hr {
  margin-bottom: 2.5rem; }

.backto {
  text-decoration: underline;
  font-weight: 600; }

.f7f7f7 {
  background: #f7f7f7; }

.fa {
  margin-right: 8px; }

.page-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase; }

.page-heading-lowercase {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: capitalize; }

.sub-page-heading {
  font-weight: 600;
  font-size: 1.2rem; }

.btn-primary {
  background-color: #50b6c6;
  border-color: #50b6c6; }

.btn-primary:hover {
  background-color: #389cab;
  border-color: #389cab;
  color: #fff; }

/*---Navigation CSS ---*/
.dropdown-menu {
  padding: .4rem 0;
  color: #fff;
  background-color: #50b6c6;
  border: none;
  border-radius: unset; }
  .dropdown-menu .dropdown-item {
    padding: .25rem .8rem;
    font-size: 12px; }
    .dropdown-menu .dropdown-item a {
      color: #fff; }
    .dropdown-menu .dropdown-item:focus, .dropdown-menu .dropdown-item:hover {
      text-decoration: none;
      background-color: #50b6c6; }

.mobile-menu .mobile-menu-wrap .dropdown-menu .dropdown-item {
  text-align: center;
  font-weight: 600; }

.dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px; }

.dropdown-menu li:hover .sub-menu {
  visibility: visible; }

.dropdown:hover .dropdown-menu {
  display: block; }

/*--- Property List/details CSS ---*/
.message-buyer {
  background-color: #1f2537;
  color: #ffffff;
  padding: 35px 0; }
  .message-buyer .message-buyers-title {
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase; }
  .message-buyer .mesage-buyers-content {
    font-size: .85rem; }

@media (max-width: 767.98px) {
  .property-img-section .container {
    width: 100%;
    max-width: 100%;
    padding: 0; } }

.property-section .page-property-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 600; }

.property-section .heading-3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: .9rem; }

.property-section .invest-num {
  font-size: 1.5rem; }

.property-section .property-details table {
  font-size: .85rem;
  font-weight: 600;
  margin-bottom: 0; }

.property-section .property-details .table td, .property-section .property-details .table th {
  border-bottom: 1px solid #dee2e6;
  border-top: none; }

.property-section .property-details img {
  width: 100%; }

.property-content .pagination-links {
  text-align: center;
  color: #1f2537;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px; }

.property-content .pagination-links .prev-link, .property-content .pagination-links .next-link {
  font-weight: 600; }

.property-content .pagination-links a, .property-content .pagination-links span {
  margin: 0 10px; }

.property-content .pagination-links .num-link {
  color: #50b6c6;
  font-weight: 600; }

span.read-more {
  text-decoration: underline; }

a.link-underline {
  text-decoration: underline; }

.property-main-img img {
  width: 100%; }

.btn-color {
  background-color: #50b6c6 !important;
  border-color: #50b6c6; }

.sidebar ul, .sidebar ol {
  list-style: none;
  margin: 0;
  padding: 0; }

.sidebar .side-ads-content {
  background-color: #f3f3f3; }

.sidebar p {
  margin: 1rem auto; }

.side-ads-content .freedl-text {
  font-size: 21px;
  font-weight: 600; }

#summary .collapse:not(.show) {
  height: 87px !important;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical; }

#summary .collapsing {
  min-height: 87px !important; }

#summary a.collapsed:after {
  content: '+ Read More'; }

#summary a:not(.collapsed):after {
  content: '- Read Less'; }

#messagebuyers .collapse:not(.show) {
  height: 42px !important;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; }

#messagebuyers .collapsing {
  min-height: 42px !important; }

#messagebuyers a.collapsed:after {
  content: '+ Read More';
  color: #fff;
  font-size: .85rem;
  text-decoration: underline; }

#messagebuyers a:not(.collapsed):after {
  content: '- Read Less';
  color: #fff;
  font-size: .85rem;
  text-decoration: underline; }

.property-description p {
  line-height: 1.4rem; }

.property-description a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: underline; }

.property-description .carousel-indicators li {
  height: 10px;
  width: 10px;
  border-radius: 10px; }

.property-description .property-link {
  font-weight: 800;
  text-align: right;
  text-decoration: underline;
  margin: 0;
  padding: 0;
  font-size: .9rem; }
  .property-description .property-link a {
    color: #333; }

.property-description .property-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem; }

.property-description .property-page-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.3rem; }

.property-description .prop-location {
  text-transform: uppercase;
  color: #50b6c6;
  font-weight: 600; }
  .property-description .prop-location a {
    color: #56c5d0; }

.property-description .prop-price {
  float: right;
  color: #56c5d0;
  font-weight: 600; }

.property-description .property-location {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600; }

.property-description .property-price {
  font-size: 1rem;
  font-weight: 600; }

@media (max-width: 991.98px) {
  .property-description .property-price {
    float: right; } }

.property-description .property-desc {
  font-size: .85rem; }

.property-description .property-page-sub-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.1rem; }

.property-description .property-content ul.property-beds-baths-sqft {
  width: 100%;
  margin: 0;
  padding: 0;
  float: right; }
  .property-description .property-content ul.property-beds-baths-sqft li.beds, .property-description .property-content ul.property-beds-baths-sqft li.baths, .property-description .property-content ul.property-beds-baths-sqft li.sqft {
    display: inline-block;
    width: 18%;
    color: #666;
    text-align: center;
    margin: 0 0 0 40px;
    padding: 0; }

.property-description ul.property-beds-baths-sqft {
  width: 75%;
  margin: 0;
  padding: 0;
  float: left; }
  .property-description ul.property-beds-baths-sqft li.beds, .property-description ul.property-beds-baths-sqft li.baths, .property-description ul.property-beds-baths-sqft li.sqft {
    display: inline-block;
    width: 18%;
    color: #666;
    text-align: center;
    margin: 0 40px 0 0;
    padding: 0;
    font-weight: 700;
    font-size: .85rem; }

.property-description ul li.beds span {
  background-image: url(../img/ico-bed.png); }

.property-description ul li.baths span {
  background-image: url(../img/ico-bath.png); }

.property-description ul li.sqft span {
  background-image: url(../img/ico-car.png); }

.property-description ul li.beds span, .property-description ul li.baths span, .property-description ul li.sqft span {
  width: 35px;
  height: 30px;
  text-indent: -999px;
  overflow: hidden;
  background-position: 50% 10%;
  background-repeat: no-repeat;
  margin: 0 auto !important;
  float: left; }

@media (max-width: 991.98px) {
  .property-description ul li.beds span, .property-description ul li.baths span, .property-description ul li.sqft span {
    float: none;
    display: block; }
  .property-description ul.property-beds-baths-sqft li.beds, .property-description ul.property-beds-baths-sqft li.baths, .property-description ul.property-beds-baths-sqft li.sqft {
    width: 10%;
    text-align: right; } }

@media (max-width: 767.98px) {
  .property-description ul.property-beds-baths-sqft li.beds, .property-description ul.property-beds-baths-sqft li.baths, .property-description ul.property-beds-baths-sqft li.sqft {
    width: 14%;
    text-align: center; } }

.property-ad-content {
  background-color: #50b6c6;
  width: 100%;
  color: #ffffff; }
  .property-ad-content .vipb {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    vertical-align: -webkit-baseline-middle; }
  .property-ad-content .vipb-side {
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1; }
  .property-ad-content .bea {
    text-transform: uppercase;
    border-bottom: 5px solid #fff;
    padding-bottom: 2px;
    font-size: 14px;
    vertical-align: text-bottom; }
  .property-ad-content .bea-side {
    text-transform: uppercase;
    font-size: 24px; }
  .property-ad-content .btn-property {
    color: #fff !important;
    background-color: transparent;
    background-image: none;
    border-color: #fff !important;
    float: right; }
  .property-ad-content .btn-property-side {
    color: #fff !important;
    background-color: transparent;
    background-image: none;
    border-color: #fff !important; }
  @media (max-width: 1199.98px) {
    .property-ad-content .vipb {
      text-align: center;
      width: 100%; }
    .property-ad-content .bea {
      text-align: center;
      width: 100%;
      font-size: 18px;
      border-bottom: none; }
    .property-ad-content .btn-property {
      float: none; } }
  @media (min-width: 1025px) {
    .property-ad-content .bea {
      font-size: 20px;
      vertical-align: text-bottom; }
    .property-ad-content .vipb {
      font-size: 35px;
      vertical-align: middle; } }

.property-ads-side p {
  line-height: 28px; }

.page-property .tooltip-inner {
  max-width: 280px; }

.page-property .tooltip .tooltip-inner {
  text-align: left;
  border-radius: 0px;
  padding: .5rem .5rem .5rem;
  background-color: rgba(31, 37, 55, 0.7);
  margin-left: 62px; }

.page-property .tooltip .arrow {
  left: 90px !important; }

.page-form .tooltip .tooltip-inner {
  background-color: rgba(31, 37, 55, 0.8); }

.page-form .tooltip .arrow {
  left: 0px !important; }
  .page-form .tooltip .arrow:before {
    border-bottom-color: transparent;
    border-right-color: rgba(31, 37, 55, 0.8); }

/*--- Property Forms CSS ---*/
.search-filter {
  background: -webkit-linear-gradient(rgba(86, 197, 208, 0.9), rgba(86, 197, 208, 0.9)), url("");
  background: linear-gradient(rgba(86, 197, 208, 0.9), rgba(86, 197, 208, 0.9)), url("");
  padding: 20px 0;
  color: #fff; }
  .search-filter .form-control-no-border-radius {
    border-radius: 0;
    font-size: .8rem; }
  .search-filter .section-title {
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    line-height: 1;
    letter-spacing: .5px; }
    .search-filter .section-title span {
      color: #1f2537;
      opacity: .5; }
  .search-filter label {
    font-size: .8rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .1rem; }

.select2-custom-1 .select2-container--default .select2-selection--multiple {
  border-radius: 0 !important;
  font-size: .8rem;
  padding: 8px 13px; }

.select2-custom-1 .select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #ddd !important;
  color: #222 !important; }

.select2-custom-1 .select2-container--default.select2-container--focus .select2-selection--multiple {
  padding: 7px 13px; }

.select2-custom-2 .select2-container--default .select2-selection--multiple {
  border-radius: 0 !important;
  font-size: .8rem;
  padding: 4px 13px; }

.select2-custom-2 .select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #ddd !important;
  color: #222 !important; }

.select2-custom-2 .select2-container--default.select2-container--focus .select2-selection--multiple {
  padding: 3px 13px; }

.form-bg {
  background: #f3f3f3; }
  .form-bg .form-title {
    font-size: 22px;
    font-weight: 600; }

.btn-norm {
  white-space: normal;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 500;
  border-width: 2px;
  border-radius: 6px;
  padding: 14px; }

.btn-cust-filter {
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 500;
  border-radius: 0;
  padding: 13px;
  max-width: 220px;
  font-family: "Montserrat", sans-serif;
  font-size: .8rem; }

.btn-cust-clear {
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 500;
  border-radius: 0;
  padding: 13px;
  max-width: 220px;
  font-family: "Montserrat", sans-serif;
  background: #999999;
  border-color: #fff;
  font-size: .8rem; }

.btn-cust-filter-sm {
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 500;
  border-radius: 0;
  padding: 13px;
  font-family: "Montserrat", sans-serif;
  font-size: .8rem; }

.btn-cust-clear-sm {
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 500;
  border-radius: 0;
  padding: 13px;
  font-family: "Montserrat", sans-serif;
  background: #999999;
  border-color: #fff;
  font-size: .8rem; }

.page-form-enquiry .cust-modal-title {
  margin: 0 0 0 85px;
  font-family: "Montserrat", sans-serif; }

.page-form-enquiry .modal-header {
  background: #50b6c6;
  color: #fff; }

.page-form-enquiry .modal-body {
  background: #ecebf1; }

.page-form-enquiry .close {
  color: #fff; }

.page-form-enquiry .form-group span {
  color: red; }

.page-form-enquiry .form-control {
  color: #666666;
  border: 1px solid #aaaaaa; }

.page-form-enquiry label {
  margin-bottom: .2rem;
  font-size: .9rem;
  font-weight: 600;
  text-transform: uppercase; }

.page-form-enquiry .fa-cust {
  margin-right: 0; }

.page-form-enquiry .btn-enquire {
  background: #1f2537;
  color: white; }

@media (max-width: 767.98px) {
  .form-sm-hide {
    display: none; }
  .form-sm-show {
    display: block; } }

@media (min-width: 768px) {
  .form-sm-hide {
    display: block; }
  .form-sm-show {
    display: none; } }

/*--- Sidebar ---*/
.sidebar .form-container {
  padding: 1.5rem 1.5rem 4.5rem 1.5rem; }

.sidebar .section-title {
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  line-height: 1;
  letter-spacing: .5px; }
  .sidebar .section-title span {
    font-size: 1.5rem; }
  .sidebar .section-title .fa-search {
    float: right;
    font-size: 84px;
    margin-top: -50px; }

.sidebar .section-content {
  padding-top: 20px;
  text-align: center; }
  .sidebar .section-content .input-group .input-group-append .btn {
    width: auto; }
  .sidebar .section-content .search-text {
    display: none; }
  .sidebar .section-content .input-group .input-group-append .fa-search {
    float: none;
    margin: 0 5px; }

.search-mob .form-container {
  padding: 1.5rem 1.5rem 4.5rem 1.5rem; }

.search-mob .section-title {
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  line-height: 1;
  letter-spacing: .5px; }
  .search-mob .section-title span {
    font-size: 1.5rem; }
  .search-mob .section-title .fa-search {
    float: right;
    font-size: 84px;
    margin-top: -50px; }

.search-mob .section-content {
  padding-top: 20px;
  text-align: center; }
  .search-mob .section-content .input-group .input-group-append .btn {
    width: auto; }
  .search-mob .section-content .search-text {
    display: none; }
  .search-mob .section-content .input-group .input-group-append .fa-search {
    float: none;
    margin: 0 5px; }

/*--- Smart Search Tablet ---*/
@media (min-width: 768px) {
  .sidebar .form-container {
    padding: 1.5rem 1.5rem 4.5rem 1.5rem; }
  .sidebar .section-title {
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    line-height: 1;
    letter-spacing: .5px; }
    .sidebar .section-title span {
      font-size: 1.5rem; }
    .sidebar .section-title .fa-search {
      float: none;
      font-size: 50px;
      margin-top: 10px;
      margin-left: 50px; }
  .sidebar .section-content {
    padding-top: 0;
    text-align: center; }
    .sidebar .section-content .input-group .input-group-append .btn {
      width: auto; }
    .sidebar .section-content .search-text {
      display: none; }
    .sidebar .section-content .input-group .input-group-append .fa-search {
      float: none;
      margin: 0 5px; }
  .page-property .tooltip-inner {
    max-width: 200px; }
  .page-property .tooltip .tooltip-inner {
    text-align: left;
    border-radius: 0px;
    padding: .5rem .5rem .5rem;
    background-color: rgba(31, 37, 55, 0.7);
    margin-left: 62px; }
  .page-property .tooltip .arrow {
    left: 90px !important; } }

@media (max-width: 575.98px) {
  .sidebar .form-container {
    padding: 1.5rem 1.5rem 4.5rem 1.5rem; }
  .sidebar .section-title {
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    line-height: 1;
    letter-spacing: .5px; }
    .sidebar .section-title span {
      font-size: 1.5rem; }
    .sidebar .section-title .fa-search {
      float: right;
      font-size: 84px;
      margin-top: -50px; }
  .sidebar .section-content {
    padding-top: 20px;
    text-align: center; }
    .sidebar .section-content .input-group .input-group-append .btn {
      width: auto; }
    .sidebar .section-content .search-text {
      display: none; }
    .sidebar .section-content .input-group .input-group-append .fa-search {
      float: none;
      margin: 0 5px; } }

@media (min-width: 992px) {
  .sidebar .form-container {
    padding: 1.5rem 1.5rem 4.5rem 1.5rem; }
  .sidebar .section-title {
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    line-height: 1;
    letter-spacing: .5px; }
    .sidebar .section-title span {
      font-size: 1.5rem; }
    .sidebar .section-title .fa-search {
      float: right;
      font-size: 84px;
      margin-top: -50px; }
  .sidebar .section-content {
    padding-top: 20px;
    text-align: center; }
    .sidebar .section-content .input-group .input-group-append .btn {
      width: auto; }
    .sidebar .section-content .search-text {
      display: none; }
    .sidebar .section-content .input-group .input-group-append .fa-search {
      float: none;
      margin: 0 5px; }
  .page-property .tooltip-inner {
    max-width: 280px; }
  .page-property .tooltip .tooltip-inner {
    text-align: left;
    border-radius: 0px;
    padding: .5rem .5rem .5rem;
    background-color: rgba(31, 37, 55, 0.7);
    margin-left: 62px; }
  .page-property .tooltip .arrow {
    left: 90px !important; } }

/*--- Page About CSS ---*/
.feature-image {
  display: table;
  width: 100%; }

.feature-image-default {
  opacity: .7; }

.feature-image h1 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 3rem; }

.title-section {
  padding: 150px 0; }

.mission-section {
  background-color: #1f2537;
  color: #ffffff;
  padding: 35px 0; }
  .mission-section .page-about-subtitle {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: 700; }
  .mission-section p {
    font-size: 1rem;
    line-height: 2;
    font-weight: 300;
    margin-bottom: 2rem; }

.about-content p {
  font-size: 1rem;
  line-height: 2;
  font-weight: 300;
  margin-bottom: 2rem; }

.jim-section {
  background: #f7f7f7; }
  .jim-section p {
    font-size: 1rem;
    line-height: 2;
    font-weight: 300;
    margin-bottom: 2rem; }
  .jim-section .jim-name {
    font-weight: 700;
    font-size: 1.6rem;
    text-align: center; }
  .jim-section .img-jim {
    width: 75%; }

.jenman-section .jenman-p {
  font-size: 18px;
  line-height: 1.5; }

/*--- Page Team CSS ---*/
.team-content p {
  font-size: 1rem;
  line-height: 2;
  font-weight: 300;
  margin-bottom: 2rem; }

.jenman-bg {
  background: #f7f7f7; }

.img-container {
  position: relative;
  width: 100%; }

.middle {
  background: url("../img/hover-effect.png");
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  padding: 10px;
  width: 100%;
  height: 100%; }

.img-container:hover .middle {
  opacity: 1;
  cursor: pointer; }

.view-text {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  width: 100%;
  text-decoration: underline;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }
  .view-text a {
    color: #fff; }

.team-member .team-name {
  font-weight: 700;
  font-size: 1rem;
  text-align: left;
  width: 100%; }

/*--- Page Team CSS ---*/
.single-team-page p {
  font-size: 1rem;
  line-height: 2;
  font-weight: 300;
  margin-bottom: 2rem; }

.single-team-heading {
  background: #50b6c6;
  color: #fff; }
  .single-team-heading .single-team-name {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 700; }
  .single-team-heading .single-team-title {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 300; }

/*--- Page Team CSS ---*/
p.testimonial-desc {
  font-weight: 600; }

p.load-more {
  font-weight: 600;
  color: #333;
  text-decoration: underline; }

.hovereffect {
  width: 100%;
  height: 74%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default; }

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1); }

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s; }

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6); }

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0); }

.hovereffect a, .hovereffect p {
  color: #FFF;
  padding: 4em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0); }

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/*--- Generic CSS ---*/
.page-heading-title {
  display: table;
  width: 100%;
  background: #202c3b; }
  .page-heading-title h1 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 3rem; }

.page-title-section {
  padding: 26px 0; }

/*--- Sell CSS ---*/
.sell-title-section {
  padding: 200px 0;
  color: #fff;
  position: relative; }
  @media (max-width: 1199.98px) {
    .sell-title-section {
      padding: 100px 0; } }
  @media (max-width: 991.98px) {
    .sell-title-section {
      padding: 50px 0; } }
  .sell-title-section h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    margin-bottom: 2rem; }
    @media (max-width: 991.98px) {
      .sell-title-section h1 {
        font-size: 2rem;
        margin-bottom: 1rem; } }
  .sell-title-section p {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 2rem; }
  .sell-title-section .sell-content {
    width: 50%;
    margin: 0 auto; }
    @media (max-width: 991.98px) {
      .sell-title-section .sell-content {
        width: 100%; } }
  .sell-title-section .btn-sell {
    padding: 10px 50px;
    text-transform: uppercase; }

.sell-section .sell-content-item {
  width: 33.3333333333%; }
  @media (max-width: 767.98px) {
    .sell-section .sell-content-item {
      width: 100%; } }

.sell-section .sell-content-item-title {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 1rem; }

/*--- Modal Css ---*/
.property-form-enquiry .cust-modal-title {
  margin: 0 0 0 85px;
  font-family: "Montserrat", sans-serif; }

.property-form-enquiry .modal-header {
  background: #50b6c6;
  color: #fff; }

.property-form-enquiry .modal-body {
  background: #ecebf1; }

.property-form-enquiry .close {
  color: #fff; }

.property-form-enquiry .form-group span {
  color: red; }

.property-form-enquiry .form-control {
  background: #ecebf1;
  color: #666666;
  border: 1px solid #aaaaaa; }

.property-form-enquiry label {
  margin-bottom: .2rem;
  font-size: .9rem;
  font-weight: 600;
  text-transform: uppercase; }

.property-form-enquiry .btn-enquire {
  background: #1f2537;
  color: white; }

.btn-primary.focus, .btn-primary:focus {
  box-shadow: none;
  color: #fff;
  border: none; }

/*--- Show Hide ---*/
@media (max-width: 767.98px) {
  .content-sm-hide {
    display: none; }
  .content-sm-show {
    display: block; } }

@media (min-width: 768px) {
  .content-sm-hide {
    display: block; }
  .content-sm-show {
    display: none; } }

/*--- Carousel Fade ---*/
/* original solution by https://codepen.io/Rowno/pen/Afykb */
.carousel-fade .carousel-inner .carousel-item {
  -webkit-transition-property: opacity;
  transition-property: opacity; }

.carousel-fade .carousel-inner .carousel-item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0; }

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1; }

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.carousel-fade .carousel-control {
  z-index: 2; }
