@charset 'UTF-8';

//* Partials
@import 'partials/variables';
@import 'partials/mixins';


//* General Styles
body {
    font-family: $font-secondary;
    color: #111;
}

a {
    color: #111;
    
    &:focus,
    &:hover {
        color: #000;
        text-decoration: none;
    }
}

.btn-cust {
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 500;
    border-width: 2px;
    border-radius: 6px;
    padding: 14px;
    width: 220px;
    font-family: $font-primary;
}

.tooltip {
    .arrow {
        left: 10px !important;

        &:before {
            border-bottom-color: rgba(31,37,55,0.7); 
        }
    }

    .tooltip-inner {
        text-align: left;
        border-radius: 0px;
        padding: .75rem 1rem 1rem;
        background-color: rgba(31,37,55,0.7);
    }
}

//* Nav Menu
.header .navbar {
    font-family: $font-primary;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    
    .navbar-collapse {
        flex-grow: 0;
    }
    
    .fa-phone {
        margin-right: 6px;
        font-size: 20px;
        vertical-align: middle;
    }
}

.primary-menu {
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    
    &.navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    
    &.navbar-light .navbar-nav {
        .nav-link {
            color: #111;
            transition: ease .3s;
        
            &:focus,
            &:hover {
                color: $lightblue;
            }
        }
        
        .active>.nav-link,
        .nav-link.active,
        .nav-link.show,
        .show>.nav-link {
            color: $lightblue;
        }
    }
}

.secondary-menu {
    background-color: $lightblue;
    font-size: 12px;
    padding: .2rem 1rem;
    
    .container {
        justify-content: flex-end;
    }
    
    &.navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .8rem;
        padding-left: .8rem;
    }
    
    &.navbar-dark .navbar-nav .nav-link {
        color: #fff;
        
        &:focus,
        &:hover {
            color: #f3f3f3;
        }
    }
}

.mobile-menu {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    
    .mobile-header {
        padding: .5rem 1rem;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    
    .menu-mobile {
        margin-right: 20px;
    }
    
    .menu-mobile,
    .close-mobile {
        font-size: 12px;
    }
    
    .icons-right .fa {
        font-size: 20px;
    }
    
    .call-mobile {
        margin-left: 20px;
    }
    
    .navbar-brand {
        margin-right: 0;
        
        .logo {
            width: 120px;
        }
    }
    
    .mobile-menu-wrap {
        width: 100%;
        display: none;
        
        .mobile-header {
            text-align: center;
            min-height: 40px;
            padding: 19px;
            max-width: 720px;
            margin: 0 auto;
            
            span {
                position: absolute;
                left: 0;
                right: 0;
                font-size: 16px;
                font-weight: 500;
                color: #666;
                z-index: -1;
            }
        }
    
        .navbar-nav .nav-item {
            border-top: 1px solid #ddd;
            text-align: center;
            font-weight: 600;
            
            .nav-link {
                color: #333;
            }
            
            &.contact-cta {
                .nav-link {
                    padding: 1rem;
                    color: #fff;
                    background-color: $lightblue;
                }
            }
        }
    }
    
    .nav-separator {
        height: 20px;
        background-color: #ddd;
        width: 100%;
        display: block;
    }
}


//* Main Content
// Section Styling
.padded-section {
    padding-top: 100px;
    padding-bottom: 100px;
    
    .section-title {
        text-transform: uppercase;
        font-weight: 700;
        font-family: $font-primary;
        font-size: 60px;
        line-height: 1;
        letter-spacing: .5px;
    }
}

// Homepage - Banner Section
.banner-section {
    .carousel-item {
        height: calc(100vh - 100px);
    }
    
    .carousel-indicators li {
        width: 10px;
        height: 10px;
        border-radius: 10px;
    }
    
    .caption-container {
        position: absolute;
        top: 0;
        margin: 0 auto;
        left: 0;
        right: 0;
        height: calc(100vh - 100px);
    }
    
    .caption-wrap {
        display: table;
        height: 100%;
        width: 100%;
    }
    
    .caption-content {
        display: table-cell;
        vertical-align: middle;
        color: #fff;
        font-family: $font-primary;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
        
        &.left-align {
            text-align: left;
        }
        
        &.right-align {
            text-align: right;
        }
    }
    
    .carousel-mobile .caption-content {
        vertical-align: bottom;
        padding-bottom: 60px;
    }
}


//* Homepage - Smart Property Search Section
.smart-search-section {
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    
    .section-title {
        span {
            color: $darkblue;
            opacity: .5;
            font-size: 36px;
        }
        
        .fa-search {
            float: right;
            font-size: 84px;
            margin-top: -20px;
        }
    }
    
    .section-content {
        padding-top: 40px;
        text-align: center;
        
        p {
            margin-bottom: 30px;
        }
        
        .input-group {
            border: 2px solid #ddd;
            border-radius: 7px;
            
            .input-group-append {
                border-left: 3px solid #ddd;
                
                .btn {
                    font-weight: 700;
                }
                
                .fa-search {
                    float: left;
                    font-size: 18px;
                    margin-top: 2px;
                    margin-left: 10px;
                }
            }
        }
    }
}


//* Homepage - Featured Properties Section
.featured-section {
    background-color: #f3f3f3;
    
    .section-title {
        color: $darkblue;
        text-align: center;
        margin-bottom: 60px;
    }
    
    .featured-properties {
        img {
            width: 100%;
        }
        
        .property-details {
            background-color: #fff;
            padding: 20px;
        }
        
        .prop-name {
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 0;
        }
        
        .prop-location,
        .prop-price {
            color: $lightblue;
            font-weight: 600;
        }
        
        .prop-location {
            text-transform: uppercase;
        }
        
        .prop-price {
            float: right;
        }
        
        .prop-more {
            font-weight: 700;
            text-decoration: underline;
        }
    }
}


//* Homepage - VIP Buyers Section
.vip-section {
    padding: 120px 0;
    background-color: $lightblue;
    color: #fff;
    
    .section-title-wrap,
    .section-content p  {
        margin-bottom: 40px;
    }
    
    .vip-thumb-wrap {
        text-align: right;
    }
    
    .subtitle {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.5;
    }
    
    .text {
        font-size: 18px;
        line-height: 1.5;
    }
}


//* Homepage - Case Studies Section 
.case-section {
    background-color: $blue;
    color: #fff;
    
    .section-title {
        text-align: center;
        margin-bottom: 40px;
    }
    
    .case-title {
        font-weight: 700;
        margin-top: 20px;
    }
    
    .case-description {
        font-weight: 300;
    }
    
    .case-studies {
        position: relative;
    }
    
    .pagination-indicator {
        ul {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 15;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            padding-left: 0;
            margin-right: 15%;
            margin-left: 15%;
            list-style: none;

            .indicator {
                height: 10px;
                width: 10px;
                border-radius: 10px;
                background-color: rgba(255,255,255,.5);
                margin-right: 3px;
                margin-left: 3px;

                &.active {
                    background-color: #fff;
                }
            }
        }
    }
}


//* Homepage - Jenman Approved Section
.jenman-section {
    color: #333333;
    padding-top: 120px;
    
    .section-title,
    .section-content p {
        margin-bottom: 40px;
    }
    
    .btn-primary {
        background-color: $lightblue;
        border-color: $lightblue;
        
        &:hover {
            background-color: darken($lightblue, 10%);
            border-color: darken($lightblue, 10%);
            color: #fff;
        }
    }
    
    .jenman-thumb-wrap {
        text-align: right;
    }
}


//* Homepage - Google Reviews Section
.reviews-section {
    background-color: #f3f3f3;
    
    .section-title {
        text-align: center;
        margin-bottom: 40px;
    }
    
    .section-content {
        margin-bottom: 40px;
        text-align: center;
    }
    
    .review-content {
        background-color: #f7f7f7;
        border: 1px solid #ddd;
        padding: 30px;
        color: #666;
        overflow: auto;
        
        .review-rating {
            font-family: 'FontAwesome';
            font-size: 24px;
            color: #e7711b;
        }
        
        .review-text {
            margin-bottom: 0;
            
            .google-logo {
                float: right;
            }
        }
        
        .review-links {
            display: block;
            margin-top: 30px;
        }
        
        .more-review {
            font-weight: 700;
            text-decoration: underline;
            display: inline-block;
        }
    }
    
    .review-profile {
        margin-top: 20px;
        font-family: 'Roboto', sans-serif;
        
        .profile-thumb {
            display: inline-block;
            background-color: $blue;
            height: 60px;
            width: 60px;
            border-radius: 65px;
            color: #fff;
            font-size: 36px;
            text-align: center;
            vertical-align: top;
        }
        
        .profile-name {
            display: inline-block;
            color: #3f82f1;
            font-size: 20px;
            margin-bottom: 0;
            margin-left: 20px;
            font-weight: 500;
        }
        
        .review-date {
            display: block;
            font-size: 14px;
            color: #aaa;
            font-weight: 400;
        }
    }
    
    .pagination-links {
        text-align: center;
        color: $darkblue;
        font-family: $font-primary;
        font-size: 14px;
        font-weight: 500;
        width: 100%;
        margin-top: 50px;
        
        a, span {
            margin: 0 10px;
        }
        
        a:hover {
            color: darken($lightblue, 10%);
        }
        
        .num-link {
            color: $lightblue;
            font-weight: 600;
        }
        
        .prev-link,
        .next-link {
            font-weight: 600;
        }
    }
}


//* Footer
footer {
    background-color: #333;
    color: #fff;
    line-height: 2;
    
    .footer-header {
        text-transform: uppercase;
        font-weight: 600;
        font-family: $font-primary;
        font-size: 20px;
        margin-bottom: 20px;
    }
    
    .quick-links {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            font-weight: 300;
            display: inline-block;
            vertical-align: top;
            margin-right: 100px;
        }
    }
    
    .locations {
        text-align: center;
        font-weight: 300;
        
        .office-title {
            display: block;
            font-weight: 600;
        }
    }
    
    .social-media {
        text-align: right;
        margin-top: 60px;
        
        .social-icons i {
            margin: 0 15px;
        }
        
        .copyright {
            margin-top: 30px;
            font-size: 12px;
        }
    }
}


//* Media Queries

// Medium devices (tablets, less than 992px)
@media (max-width: 991.99px) {
    .primary-menu {
        display: none;
    }
    
    .secondary-menu {
        display: none;
    }
    
    .mobile-menu {
        display: flex;
    }
    
    .padded-section {
        padding-top: 60px;
        padding-bottom: 60px;
        
        .section-title {
            font-size: 26px;
        }
    }
    
    .banner-section {
        .carousel-desktop {
            display: none;
        }
        
        .carousel-mobile {
            display: block;
        }
        
        .carousel-item,
        .caption-container {
            height: calc(100vh - 56px);
        }
    }
    
    .featured-section {
        .section-title {
            margin-bottom: 40px;
        }
    }
    
    .smart-search-section {
        .section-title {
            font-size: 40px;
            font-weight: 700;
            
            span {
                font-size: 24px;
            }
        }
        
        .section-content {
            .input-group .input-group-append {
                .btn {
                    width: auto;
                }

                .fa-search {
                    float: none;
                    margin: 0 5px;
                }
            }

            .search-text {
                display: none;
            }
        }
    }
    
    .vip-section {
        .container .row {
            flex-direction: column-reverse;
        }
        
        .section-title-wrap {
            text-align: center;
            margin-bottom: 20px;
        }
        
        .section-title {
            font-size: 42px;
            font-weight: 600;
        }
        
        .vip-thumb-wrap {
            text-align: center;
            margin-bottom: 25px;
            
            img {
                width: 160px;
            }
        }
        
        .section-content {
            text-align: center;
            
            p {
                margin-bottom: 10px;
                text-align: left;   
            }
        
            .subtitle {
                font-size: 20px;
                font-weight: 600;
                line-height: 30px;
            }

            .text {
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 30px;
            }
        }
    }
    
    .case-section {
        .case-item {
            margin-bottom: 50px;
            
            &:not(:first-child) {
                display: none;
            }
        }
        
        .pagination-indicator {
            display: block;
        }
    }
    
    .jenman-section {
        .container .row {
            flex-direction: column-reverse;
        }
        
        .jenman-thumb-wrap {
            text-align: left;
            margin-bottom: 40px;
            
            img {
                width: 160px;
            }
        }
        
        .section-title {
            font-size: 32px;
            line-height: 40px;
            margin-bottom: 30px;
        }
        
        .section-content p {
            margin-bottom: 30px;
        }
    }
    
    .reviews-section {
        .review-item {
            &:not(:first-child) {
                display: none;
            }
        }
    }
    
    footer {
        .quick-links,
        .social-media {
            text-align: center;
        }
        
        .quick-links ul {
            margin: 0 auto;
            padding: 0 30px;
        }
        
        .social-media {
            margin-top: 0;
        }
        
        .footer-column {
            margin-bottom: 40px;
            
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.99px) {
    .featured-section {
        .property-item {
            margin-bottom: 20px;
            
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.99px) {
    .smart-search-section {
        .section-title {
            .fa-search {
                margin-top: -50px;
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .mobile-menu {
        display: none;
    }
    
    .banner-section {
        .carousel-mobile {
            display: none;
        }
    }
    
    .case-section {
        .pagination-indicator {
            display: none;
        }
    }
}

/*--- Main content CSS ---*/
@import 'modules/maincontent';

/*---Navigation CSS ---*/
@import 'modules/nav';

/*--- Property List/details CSS ---*/
@import 'modules/property';

/*--- Property Forms CSS ---*/
@import 'modules/forms';

/*--- Sidebar ---*/
@import 'modules/sidebar';

/*--- Smart Search Tablet ---*/
@import 'modules/smartsearch';

/*--- Page About CSS ---*/
@import 'modules/pageabout';

/*--- Page Team CSS ---*/
@import 'modules/pageteam';

/*--- Page Team CSS ---*/
@import 'modules/singleteam';

/*--- Page Team CSS ---*/
@import 'modules/testimonial';

/*--- Generic CSS ---*/
@import 'modules/genericpage';

/*--- Sell CSS ---*/
@import 'modules/sell';

/*--- Modal Css ---*/
@import 'modules/modal';

/*--- Show Hide ---*/
@import 'modules/showhide';


/*--- Carousel Fade ---*/

/* original solution by https://codepen.io/Rowno/pen/Afykb */

.carousel-fade .carousel-inner .carousel-item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .carousel-item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    //transition: opacity 2s linear;
    //-webkit-transition: opacity 1s ease-in-out;
    //-moz-transition: opacity 1s ease-in-out;
    //-ms-transition: opacity 1s ease-in-out;
    //-o-transition: opacity 1s ease-in-out;
}
.carousel-fade .carousel-control {
    z-index: 2;
}