//* COLORS
$lightblue: #50b6c6;
$blue: #284d68;
$darkblue: #1f2537;
$darkgrey: #111;
$headingBG: #202c3b;

//* FONTS
$font-primary: "Montserrat", sans-serif;
$font-secondary: "Open Sans", sans-serif;

//* BREAKPOINTS
$breakpoints: (
	laptop-large	: 1920px,
	laptop-medium	: 1440px,
	laptop-small	: 1366px,
	laptop-xsmall   : 1200px,
	tablet-landscape: 1024px,
	tablet-portrait	: 768px,
	mobile-xlarge	: 720px,
	mobile-large	: 425px,
	mobile-medium	: 375px,
	mobile-small	: 320px
);