.search-filter{
    background: linear-gradient(rgba(86,197,208,0.9),rgba(86,197,208,0.9)), url('');
    padding: 20px 0;
    color: #fff;

    .form-control-no-border-radius {
        border-radius: 0;
        font-size: .8rem;
    }
    .section-title {
        text-transform: uppercase;
        font-weight: 700;
        font-family: $font-primary;
        font-size: 2rem;
        line-height: 1;
        letter-spacing: .5px;
        span {
            color: #1f2537;
            opacity: .5;
        }
    }
    label {
        font-size: .8rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: .1rem;
    }
}

.select2-custom-1 {
            .select2-container--default .select2-selection--multiple {
                border-radius: 0 !important;
                font-size: .8rem;
                padding: 8px 13px;
            }

            .select2-container--default .select2-selection--multiple .select2-selection__choice {
                background-color: #ddd !important;
                color: #222 !important;
            }

            .select2-container--default.select2-container--focus .select2-selection--multiple {
                padding: 7px 13px;
            }
}

.select2-custom-2 {
    .select2-container--default .select2-selection--multiple {
        border-radius: 0 !important;
        font-size: .8rem;
        padding: 4px 13px;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: #ddd !important;
        color: #222 !important;
    }

    .select2-container--default.select2-container--focus .select2-selection--multiple {
        padding: 3px 13px;
    }
}

.form-bg {
    background: #f3f3f3;

    .form-title {
        font-size: 22px;
        font-weight: 600;
    }
}

.btn-norm {
    white-space: normal;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 500;
    border-width: 2px;
    border-radius: 6px;
    padding: 14px;
}

.btn-cust-filter {
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 500;
    border-radius: 0;
    padding: 13px;
    max-width: 220px;
    font-family: $font-primary;
    font-size: .8rem;
}

.btn-cust-clear {
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 500;
    border-radius: 0;
    padding: 13px;
    max-width: 220px;
    font-family: $font-primary;
    background: #999999;
    border-color: #fff;
    font-size: .8rem;
}

.btn-cust-filter-sm {
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 500;
    border-radius: 0;
    padding: 13px;
    font-family: $font-primary;
    font-size: .8rem;
}

.btn-cust-clear-sm {
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 500;
    border-radius: 0;
    padding: 13px;
    font-family: $font-primary;
    background: #999999;
    border-color: #fff;
    font-size: .8rem;
}


.page-form-enquiry {

    .cust-modal-title {
        margin: 0 0 0 85px;
        font-family: $font-primary;
    }

    .modal-header {
        background: $lightblue;
        color: #fff;
    }

    .modal-body {
        background: #ecebf1;
    }
    
    .close {
        color: #fff;
    }
    
    .form-group span {
        color: red;
    }

    .form-control {
        color: #666666;
        border: 1px solid #aaaaaa;
    }
    
    label {
        margin-bottom: .2rem;
        font-size: .9rem;
        font-weight: 600;
        text-transform: uppercase;
    }

    .fa-cust {
        margin-right: 0;
    }

    .btn-enquire {
        background: #1f2537;
        color: white;
    }


}

    // Extra small devices (portrait phones, less than 576px)
    @media (max-width: 767.98px) {
        .form-sm-hide {
            display: none;
        }
        .form-sm-show {
            display: block;
        }
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 768px) { 
        .form-sm-hide {
            display: block;
        }
        .form-sm-show {
            display: none;
        }

     }