.page-heading-title {
    display: table;
    width: 100%;
    background: $headingBG;

    h1 {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        color: white;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        font-size: 3rem;
    }
}

.page-title-section {
    padding: 26px 0;
}