.main-content {

    p {
            font-size: 1rem;
            line-height: 1.5;
            font-weight: 300;
            margin-bottom: 2rem;
    }

    .heading-h2 {
        font-family: $font-secondary;
        font-weight: 600;
        font-size: 1rem;
        text-transform: uppercase;
    }

    .heading-h1 {
        font-family: $font-secondary;
        font-weight: 600;
        font-size: 1.8rem;
    }

    .sign {
        font-weight: 600;
        text-decoration: underline;
    }
    
}

.blog-border {
    border-bottom: 1px solid $lightblue;
}

hr {
    background: lightblue;
}

hr.blog-hr {
    margin-bottom: 2.5rem;
}

.backto {
    text-decoration: underline;
    font-weight: 600;
}

.f7f7f7 {
    background: #f7f7f7;;
}

.fa {
    margin-right: 8px;
}

.page-heading {
    font-family: $font-primary;
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.page-heading-lowercase {
    font-family: $font-primary;
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.sub-page-heading {
    font-weight: 600;
    font-size: 1.2rem;
}

.btn-primary {
    background-color: $lightblue;
    border-color: $lightblue;
}

.btn-primary:hover {
    background-color: #389cab;
    border-color: #389cab;
    color: #fff;
}