.property-form-enquiry {

    .cust-modal-title {
        margin: 0 0 0 85px;
        font-family: $font-primary;
    }

    .modal-header {
        background: $lightblue;
        color: #fff;
    }

    .modal-body {
        background: #ecebf1;
    }
    
    .close {
        color: #fff;
    }
    
    .form-group span {
        color: red;
    }

    .form-control {
        background: #ecebf1;
        color: #666666;
        border: 1px solid #aaaaaa;
    }
    
    label {
        margin-bottom: .2rem;
        font-size: .9rem;
        font-weight: 600;
        text-transform: uppercase;
    }

    .btn-enquire {
        background: #1f2537;
        color: white;
    }


}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: none;
    color: #fff;
    border: none;
}
