.dropdown-menu {
    padding: .4rem 0;
    color: #fff;
    background-color: $lightblue;
    border: none;
    border-radius: unset;

    .dropdown-item {
        padding: .25rem .8rem;
        font-size: 12px;

        a {
            color: #fff;
        }
        &:focus, &:hover {
                text-decoration: none;
                background-color: $lightblue;
        }
    }
}

.mobile-menu .mobile-menu-wrap .dropdown-menu .dropdown-item {
    text-align: center;
    font-weight: 600;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
