.team-content {

    p {
            font-size: 1rem;
            line-height: 2;
            font-weight: 300;
            margin-bottom: 2rem;
    }
    
}

.jenman-bg {
    background: #f7f7f7;
}

.img-container {
    position: relative;
    width: 100%;
}

.middle {
  background: url('../img/hover-effect.png');
  transition: .3s ease-in;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.img-container:hover .middle {
    opacity: 1;
    cursor: pointer;
}

.view-text {
  font-family: $font-primary;
  font-size: 1rem;
  width: 100%;
  text-decoration: underline;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  a {
    color: #fff;
  }
}

.team-member {

    .team-name {
        font-weight: 700;
        font-size: 1rem;
        text-align: left;
        width: 100%;
    }
}
