.feature-image {	
	display: table;
	width: 100%;
}

.feature-image-default {
	//background: url('../img/About_hero_large.jpg') 50% 0 no-repeat;
    //background-size: cover;
    opacity: .7;
}

.feature-image h1 {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
    color: white;
    font-family: $font-primary;
    text-transform: uppercase;
    font-size: 3rem;
}

.title-section {
    padding: 150px 0;
}

.mission-section {
    background-color: $darkblue;
    color: #ffffff;
    padding: 35px 0; 

    .page-about-subtitle {
        font-family: $font-primary;
        font-size: 2rem;
        font-weight: 700;
    }

    p {
    font-size: 1rem;
    line-height: 2;
    font-weight: 300;
    margin-bottom: 2rem;
    }
}

.about-content {

    p {
            font-size: 1rem;
            line-height: 2;
            font-weight: 300;
            margin-bottom: 2rem;
    }
    
}

.jim-section {
    background: #f7f7f7;
    p {
        font-size: 1rem;
        line-height: 2;
        font-weight: 300;
        margin-bottom: 2rem;
        }
    .jim-name {
        font-weight: 700;
        font-size: 1.6rem;
        text-align: center;
    }
    .img-jim {
        width: 75%;
    }
}

.jenman-section {
    .jenman-p {
    font-size:18px;
    line-height:1.5;
    }
}
