$lightblue1: #56c5d0;

.message-buyer {
    background-color: $darkblue;
    color: #ffffff;
    padding: 35px 0; 

    .message-buyers-title {
            font-family: $font-primary;
            font-size: 1.1rem;
            font-weight: 600;
            text-transform: uppercase;
    }

    .mesage-buyers-content {
        font-size: .85rem;
    }

}

.property-img-section {
    @media (max-width: 767.98px) {
        .container {
            width: 100%;
            max-width: 100%;
            padding: 0;
        }
    }
    // @media (min-width: 576px) {
    //     .container {
    //         width: 100% !important;
    //         padding: 0;
    //     }
    // }
}

.property-section {
    //padding: 35px 0; 

    .page-property-title {
        font-family: $font-primary;
        font-size: 1.6rem;
        font-weight: 600;
    }

    .heading-3 {
        font-family: $font-secondary;
        font-weight: 700;
        font-size: .9rem;
    }

    .invest-num {
        font-size: 1.5rem;
    }

    .property-details {
       // border: 2px solid #eee;

        table {
            font-size: .85rem;
            font-weight: 600;
            margin-bottom: 0;
            }

        .table td, .table th {
                border-bottom: 1px solid #dee2e6;
                border-top: none;
        }
        
        img {
                width: 100%;
            }

        }

}

.property-content {
    .pagination-links {
        text-align: center;
        color: $darkblue;
        font-family: $font-primary;
        font-size: 14px;
        font-weight: 500;
        width: 100%;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .pagination-links .prev-link, .pagination-links .next-link {
        font-weight: 600;
    }
    .pagination-links a, .pagination-links span {
        margin: 0 10px;
    }
    .pagination-links .num-link {
        color: $lightblue;
        font-weight: 600;
    }
}

span.read-more {
    text-decoration: underline;
}

a.link-underline {
    text-decoration: underline;
}

.property-main-img img {
    width: 100%;
}

.btn-color {
    background-color: $lightblue !important;
    border-color: $lightblue;
}

// .prop-p {
//     p {
//         line-height: 25px;
//     }
// }

.sidebar {
    ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
    }
    .side-ads-content {
        background-color: #f3f3f3;
    }
    p {
        margin: 1rem auto;
    }
}

.side-ads-content {
    .freedl-text {
        font-size: 21px;
        font-weight: 600;
    }
}

    #summary .collapse:not(.show) {
    height: 87px !important;
    overflow: hidden;
  
     display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    }

    #summary .collapsing {
        min-height: 87px !important;
    }

    #summary a.collapsed:after  {
        content: '+ Read More';
    }

    #summary a:not(.collapsed):after {
        content: '- Read Less';
    }

    #messagebuyers .collapse:not(.show) {
        height: 42px !important;
        overflow: hidden;
      
         display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        }
    
        #messagebuyers .collapsing {
            min-height: 42px !important;
        }
    
        #messagebuyers a.collapsed:after  {
            content: '+ Read More';
            color: #fff;
            font-size: .85rem;
            text-decoration: underline;
        }
    
        #messagebuyers a:not(.collapsed):after {
            content: '- Read Less';
            color: #fff;
            font-size: .85rem;
            text-decoration: underline;
        }

.property-description {
   // line-height: 19px;

    p {
    line-height: 1.4rem;
        }
    a:not([href]):not([tabindex]) {
            color: inherit;
            text-decoration: underline;
        }

    .carousel-indicators li {
        height: 10px;
        width: 10px;
        border-radius: 10px;
    }

    .property-link {
        font-weight: 800;
        text-align: right;
        text-decoration: underline;
        margin: 0;
        padding: 0;
        font-size: .9rem;
        a {
            color:#333;
        }
    }
        
    .property-title {
        font-family: $font-secondary;
        font-weight: 600;
        font-size: 1rem;
    }
    .property-page-title {
        font-family: $font-secondary;
        font-weight: 700;
        font-size: 1.3rem;
    }
    .prop-location {
        text-transform: uppercase;
        color: $lightblue;
        font-weight: 600;
        a {
            color: $lightblue1;
        }
    }
    .prop-price {
        float: right;
        color: $lightblue1;
        font-weight: 600;
    }

    .property-location {
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 600;
    }
    .property-price {
        font-size: 1rem;
        font-weight: 600;
    }
    @media (max-width: 991.98px) {
        .property-price {
            float: right;
        }
    }
    .property-desc {
        font-size: .85rem;
    }

    .property-page-sub-title {
        font-family: $font-secondary;
        font-weight: 700;
        font-size: 1.1rem;
    }
 

    .property-content {

        ul.property-beds-baths-sqft {
            width: 100%;
            margin: 0;
            padding: 0;
            float: right;
    
                li.beds, li.baths, li.sqft {
                    display: inline-block;
                    width: 18%;
                    color: #666;
                    text-align: center;
                    margin: 0 0 0 40px;
                    padding: 0;
                }
        }

    }

    ul.property-beds-baths-sqft {
        width: 75%;
        margin: 0;
        padding: 0;
        float: left;

            li.beds, li.baths, li.sqft {
                display: inline-block;
                width: 18%;
                color: #666;
                text-align: center;
                margin: 0 40px 0 0;
                padding: 0;
                font-weight: 700;
                font-size: .85rem;
            }
    }

    ul li.beds span {
        background-image: url(../img/ico-bed.png);
    }
    ul li.baths span {
        background-image: url(../img/ico-bath.png);
    }
    ul li.sqft span {
        background-image: url(../img/ico-car.png);
    }

    ul li.beds span, ul li.baths span, ul li.sqft span {
        width: 35px;
        height: 30px;
        //display: inline-block;
        text-indent: -999px;
        overflow: hidden;
        background-position: 50% 10%;
        background-repeat: no-repeat;
        margin: 0 auto !important;
        float: left;
    }

    @media (max-width: 991.98px) {

        ul li.beds span, ul li.baths span, ul li.sqft span {
            float: none;
            display: block;
        }

        
    ul.property-beds-baths-sqft {
            li.beds, li.baths, li.sqft {
                width: 10%;
                text-align: right;
            }
    }

    }

    @media (max-width: 767.98px) {       
    ul.property-beds-baths-sqft {
            li.beds, li.baths, li.sqft {
                width: 14%;
                text-align:center;
            }
    }

    }


}

.property-ad-content {
    background-color: $lightblue;
    width: 100%;
    color: #ffffff;

    .vipb {
        font-size: 30px;
        font-family: $font-primary;
        font-weight: 600;
        text-transform: uppercase;
        vertical-align: -webkit-baseline-middle;
    }
    .vipb-side {
        font-size: 40px;
        font-family: $font-primary;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 1;
    }
    .bea {
        text-transform: uppercase;
        border-bottom: 5px solid #fff;
        padding-bottom: 2px;
        font-size: 14px;
        vertical-align: text-bottom;
    }

    .bea-side {
        text-transform: uppercase;
        font-size: 24px;
    }

    .btn-property {
        color: #fff !important;
        background-color: transparent;
        background-image: none;
        border-color: #fff !important;
        float: right;
    }

    .btn-property-side {
        color: #fff !important;
        background-color: transparent;
        background-image: none;
        border-color: #fff !important;
    }

    @media (max-width: 1199.98px) {
        .vipb {
            text-align: center;
            width: 100%;
        }
        .bea {
            text-align: center;
            width: 100%;
            font-size: 18px;
            border-bottom: none;
        }
        .btn-property {
            float: none;
        }
    }



    @media (min-width: 1025px) {

        .bea {
            font-size: 20px;
            vertical-align: text-bottom;
        }

        .vipb {
            font-size: 35px;
            vertical-align: middle;
        }

    }

}

.property-ads-side {
     p {
        line-height: 28px;
    }
}

.page-property {
    .tooltip-inner {
    max-width: 280px;
    }
    .tooltip {
        .tooltip-inner {
            text-align: left;
            border-radius: 0px;
            padding: .5rem .5rem .5rem;
            background-color: rgba(31, 37, 55, 0.7);
            margin-left: 62px;
        }
        .arrow {
            left: 90px !important;
        }

    }
}

.page-form {
    .tooltip {
        .tooltip-inner {
           background-color:rgba(31, 37, 55, 0.8);
        }
        .arrow {
            left: 0px !important;
            &:before {
                border-bottom-color: transparent;
                border-right-color: rgba(31, 37, 55, 0.8);
            }
        }

    }
}

