.sell-title-section {
    padding: 200px 0;
    color: #fff;
    position: relative;

    @media (max-width: 1199.98px) {
        padding: 100px 0;
    }
    @media (max-width: 991.98px) {
        padding: 50px 0;
    }

    h1 {
        font-family: $font-primary;
        font-size: 3rem;
        margin-bottom: 2rem;

        @media (max-width: 991.98px) {
            font-size: 2rem;
            margin-bottom: 1rem;
        }
    }

    p {
        font-family: $font-primary;
        margin-bottom: 2rem;
    }

    .sell-content {
        width: 50%;
        margin: 0 auto;
        @media (max-width: 991.98px) {
        width: 100%;
        }
    }

    .btn-sell {
        padding: 10px 50px;
        text-transform: uppercase;
    }
}

.sell-section {


    .sell-content-item {
        width: 33.3333333333%;

        @media (max-width: 767.98px) {
        width: 100%;
        }
    }

    .sell-content-item-title {
        font-size: 1.4rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }
}