    // Extra small devices (portrait phones, less than 576px)
    @media (max-width: 767.98px) {
        .content-sm-hide {
            display: none;
        }
        .content-sm-show {
            display: block;
        }
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 768px) { 
        .content-sm-hide {
            display: block;
        }
        .content-sm-show {
            display: none;
        }

     }