.sidebar {

    .form-container {
        padding: 1.5rem 1.5rem 4.5rem 1.5rem;
    }

    .section-title {
        text-transform: uppercase;
        font-weight: 700;
        font-family: $font-primary;
        font-size: 2rem;
        line-height: 1;
        letter-spacing: .5px;

        span {
            font-size: 1.5rem;
        }

        .fa-search {
            float: right;
            font-size: 84px;
            margin-top: -50px;
        }

    }

    .section-content {
        padding-top: 20px;
        text-align: center;

        .input-group .input-group-append .btn {
            width: auto;
        }
        .search-text {
            display: none;
        }
        .input-group .input-group-append .fa-search {
            float: none;
            margin: 0 5px;
        }
    }

}

.search-mob {

    .form-container {
        padding: 1.5rem 1.5rem 4.5rem 1.5rem;
    }

    .section-title {
        text-transform: uppercase;
        font-weight: 700;
        font-family: $font-primary;
        font-size: 2rem;
        line-height: 1;
        letter-spacing: .5px;

        span {
            font-size: 1.5rem;
        }

        .fa-search {
            float: right;
            font-size: 84px;
            margin-top: -50px;
        }

    }

    .section-content {
        padding-top: 20px;
        text-align: center;

        .input-group .input-group-append .btn {
            width: auto;
        }
        .search-text {
            display: none;
        }
        .input-group .input-group-append .fa-search {
            float: none;
            margin: 0 5px;
        }
    }

}

