.single-team-page {

    p {
        font-size: 1rem;
        line-height: 2;
        font-weight: 300;
        margin-bottom: 2rem;
    }
}

.single-team-heading {
    background: $lightblue;
    color: #fff;

    .single-team-name {
        font-family: $font-secondary;
        font-size: 1.5rem;
        font-weight: 700;
    }
    .single-team-title {
        font-family: $font-secondary;
        font-size: 1.5rem;
        font-weight: 300;
    }
}