@media (min-width: 768px) { 

    .sidebar {

        .form-container {
            padding: 1.5rem 1.5rem 4.5rem 1.5rem;
        }
    
        .section-title {
            text-transform: uppercase;
            font-weight: 700;
            font-family: $font-primary;
            font-size: 1.6rem;
            line-height: 1;
            letter-spacing: .5px;
            //text-align: center;
    
            span {
                font-size: 1.5rem;
            }
    
            .fa-search {
                float: none;
                font-size: 50px;
                margin-top: 10px;
                margin-left: 50px;
            }
    
        }
    
        .section-content {
            padding-top: 0;
            text-align: center;
    
            .input-group .input-group-append .btn {
                width: auto;
            }
            .search-text {
                display: none;
            }
            .input-group .input-group-append .fa-search {
                float: none;
                margin: 0 5px;
            }
        }
    
    }

    .page-property {
        .tooltip-inner {
        max-width: 200px;
        }
        .tooltip {
            .tooltip-inner {
                text-align: left;
                border-radius: 0px;
                padding: .5rem .5rem .5rem;
                background-color: rgba(31, 37, 55, 0.7);
                margin-left: 62px;
            }
            .arrow {
                left: 90px !important;
            }
    
        }
    }
    

}


@media (max-width: 575.98px) { 

    .sidebar {

        .form-container {
            padding: 1.5rem 1.5rem 4.5rem 1.5rem;
        }
    
        .section-title {
            text-transform: uppercase;
            font-weight: 700;
            font-family: $font-primary;
            font-size: 2rem;
            line-height: 1;
            letter-spacing: .5px;
    
            span {
                font-size: 1.5rem;
            }
    
            .fa-search {
                float: right;
                font-size: 84px;
                margin-top: -50px;
            }
    
        }
    
        .section-content {
            padding-top: 20px;
            text-align: center;
    
            .input-group .input-group-append .btn {
                width: auto;
            }
            .search-text {
                display: none;
            }
            .input-group .input-group-append .fa-search {
                float: none;
                margin: 0 5px;
            }
        }
    
    }


}

@media (min-width: 992px) { 

    .sidebar {

        .form-container {
            padding: 1.5rem 1.5rem 4.5rem 1.5rem;
        }
    
        .section-title {
            text-transform: uppercase;
            font-weight: 700;
            font-family: $font-primary;
            font-size: 2rem;
            line-height: 1;
            letter-spacing: .5px;
    
            span {
                font-size: 1.5rem;
            }
    
            .fa-search {
                float: right;
                font-size: 84px;
                margin-top: -50px;
            }
    
        }
    
        .section-content {
            padding-top: 20px;
            text-align: center;
    
            .input-group .input-group-append .btn {
                width: auto;
            }
            .search-text {
                display: none;
            }
            .input-group .input-group-append .fa-search {
                float: none;
                margin: 0 5px;
            }
        }
    
    }

    .page-property {
        .tooltip-inner {
        max-width: 280px;
        }
        .tooltip {
            .tooltip-inner {
                text-align: left;
                border-radius: 0px;
                padding: .5rem .5rem .5rem;
                background-color: rgba(31, 37, 55, 0.7);
                margin-left: 62px;
            }
            .arrow {
                left: 90px !important;
            }
    
        }
    }
    

}